@font-face {
    font-family:'monsterrat-bold';
    src: url(Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'monsterrat';
    src: url(Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family:'prosto-one';
    src: url(Prosto_One/ProstoOne-Regular.ttf);
}